.categories-page-container {
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: large;
}

.go-back-button-container {
    height: 3vh;
    margin-bottom: 2px;
}

.go-back-button {
    border: none;
    padding: 5px;
    background-color: rgb(66, 66, 143);
}