.categories-page-container {
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: large;
    margin-top: 100px;
}

.category-list-container {
    margin-top: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.go-back-button-container {
    height: 3vh;
    margin-bottom: 2px;
}

.go-back-button {
    border: none;
    padding: 5px;
    background-color: rgb(66, 66, 143);
}